*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    gap: 5px; /* Gap between keys */
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.key:hover {
    background-color: #e0e0e0;
}

.wide {
    grid-column: span 2; /* Span two columns */
}
